#book_list{
    table-layout: fixed;
    text-align: center;
}

#book_list th,td{
    border: solid black 5px;
    height:50px;
    vertical-align: middle;
}

.title_header, .author_header{
    width: 300px;
}

.pages_header, .read_header{
    width: 100px;
}

.remove_cell{
    border: none;
}

.hidden{
    display: none;
}